---
layout: default
---

<div class="home">
    
    <div class="index-sections content section">
        <div class="topnav-spacer"></div>        
        {%- if paginator.posts.size > 0 -%}
        <h2 class="red-header">Blog Posts</h2>
        <div class="pagination">
            <div class="links">
                {% if paginator.previous_page_path != nil %} <a href="{{paginator.previous_page_path}}">Previous page</a> {% endif %}
                {% if paginator.next_page_path != nil %} <a href="{{paginator.next_page_path}}">Next page</a> {% endif %}
            </div>
        </div>
        <ul class="post-list">
            {%- for post in paginator.posts -%}
            {% assign readCalc = post.content | number_of_words %}
            {% assign readCalc = post.content | number_of_words | divided_by: 180 | round %}
            {% if readCalc == 0 %}
                {% assign readTime = "Less than one" %}
            {% elsif readCalc == 1 %}
                {% assign readTime = "One" %}
            {% elsif readCalc == 2 %}
                {% assign readTime = "Two" %}
            {% elsif readCalc == 3 %}
                {% assign readTime = "Three" %}
            {% elsif readCalc == 4 %}
                {% assign readTime = "Four" %}
            {% elsif readCalc == 5 %}
                {% assign readTime = "Five" %}
            {% elsif readCalc == 6 %}
                {% assign readTime = "Six" %}
            {% elsif readCalc == 7 %}
                {% assign readTime = "Seven" %}
            {% elsif readCalc == 8 %}
                {% assign readTime = "Eight" %}
            {% elsif readCalc == 9 %}
                {% assign readTime = "Nine" %}
            {% else %}
                {% assign readTime = readCalc %}
            {% endif %}  
            <li>
                <h3>
                    <a class="post-link" href="{{ post.url | relative_url }}">
                        {{ post.title | escape }}
                    </a>
                </h3>
                <p class="blog-read-time"><i>{{ readTime }}-minute read.</i></p>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <div style="display:flex;flex-direction: row;align-items: center;margin: 10px 0;">
                    {%- if post.image -%}
                        <img src="{{post.image}}" style="width: 50px;border-radius: 50%;margin:0 10px 0 0;">
                    {%- else -%}
                        <img src="/assets/default.jpg" style="width: 50px;border-radius: 50%;margin:0 10px 0 0;">
                    {%- endif -%}
                    <span><em>By {{post.author}} on {{ post.date | date: date_format}}</em></span>
                </div>
                {%- if site.show_excerpts -%}
                {{ post.excerpt }}
                {%- endif -%}
            </li>
            {%- endfor -%}
        </ul>
        <div class="pagination">
            <p>Page {{paginator.page}} of {{paginator.total_pages}}</p>
            <div class="links">
                {% if paginator.previous_page_path != nil %} <a href="{{paginator.previous_page_path}}">Previous page</a> {% endif %}
                {% if paginator.next_page_path != nil %} <a href="{{paginator.next_page_path}}">Next page</a> {% endif %}
            </div>
        </div>
        {% else %}
        <h2 class="post-list-heading">Blog</h2>
        <p>There doesn't seem to be anything here! Check back later.</p>
        {%- endif -%}
    </div>
</div>