h1, h2, h3 {
  font-family: 'Source Code Pro', sans-serif;
}

/**
 * Site footer
 */
.site-footer {
  padding: $spacing-unit 1em;
  background-color: #000000;
}

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 2;
  color: white;
  text-align: left;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  color: $footer-text-color;
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
}

.footer-col {
  float: left;
  margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(35% - (#{$spacing-unit} / 2));
  width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(45% - (#{$spacing-unit} / 2));
  width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  .hiddenlink {
    display:block;
  }
  .shownlink {
    display: none;
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
  .hiddenlink {
    display:block;
  }
  .shownlink {
    display: none;
  }
}

.hiddenlink {
  display:none;
}


/**
 * Page content
 */
.page-content {
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
  font-family: 'Source Code Pro', sans-serif;
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
  font-family: 'Source Code Pro', sans-serif;
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;
  font-family: 'Source Code Pro', sans-serif;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * index.md
 */

.index-header {
  text-align: center;
  padding-top: 75px;
  // padding-bottom: 35px;
  margin-bottom: 7em;
}
.blue-header {
  color: #CA3721;
  font-family: 'Source Code Pro', sans-serif;
}
.content {
  padding: .5rem .75rem;
  text-align: center;
}

// Misc

.holds-the-iframe {
  background:url('https://miro.medium.com/max/882/1*9EBHIOzhE1XfMYoKz1JcsQ.gif') center center no-repeat;
}

.cardholder {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.card {
  background: #750384;
  border-radius: 10px;
  display: inline-block;
  margin: 1rem;
  position: relative;
  width: 300px;
  color: white;
  text-align: center;
  
  h1 {
    font-size: 2em;
    margin-bottom: 0;
  }
  
  p {
    margin: 0.75em;
  }

  hr {
    margin: 1em 2em;
    border: 3px solid white;
  }

  span {
    font-size: .8em
  }
}

input.accordioninput {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

/* Accordion styles */
.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  margin-bottom: 2em;
}

.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  padding: 1em;
  background: #750384;
  font-weight: bold;
  cursor: pointer;
  /* Icon */
}
.tab-label:hover {
  background: #090526;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  -webkit-transition: all .35s;
  transition: all .35s;
}
.tab-close {
  display: -webkit-box;
  display: flex;
  flex: 0 0 auto;
  -webkit-box-pack: end;
          justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}

input:checked + .tab-label {
  background: #1a252f;
}
input:checked + .tab-label::after {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
input:checked ~ .tab-content {
  padding: 1em;
  max-height: 100vh;
  overflow: scroll;
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/assets/flag.jpg");

  /* Set a specific height, remove padding to make it exactly the size of the screen */
  height: 100vh;
  padding: 0;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.section {
  width: 65vw;
  margin: auto;
}

.about-text {
  padding: 2rem;
  width: 50%;
  text-align: left;
  margin: auto 0;
}

.about-image {
  width: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
  .about-image {
    width: 100vw;
    height: 50vh;
    border-radius: 10px;
  }

  .about-text {
    text-align: center;
    width: 100vw;
  }
}